<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.css"
  />
</head>
<div class="animate__animated animate__fadeInUp animate__slower">

<div id="container">

<span >

<%= form_for @post do |form| %>
  <%= form.label :message %> <br>
  <%= form.text_area :message %> <br>
  <%= form.hidden_field :user_id, :value => @user.id%>

  <%= form.submit "Submit"  %>
<% end %>

</div>
</div>